:root {
  /* # Colors */

  /* ## Primary */
  --Green_200_lighter: hsl(148, 38%, 91%);
  --Green_600_medium: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);

  /* ## Neutral */
  --White: hsl(0, 0%, 100%);
  --Grey_500_medium: hsl(186, 15%, 59%);
  --Grey_900_darker: hsl(187, 24%, 22%);

  /* ## Fonts */
  --font_family: "Karla", sans-serif;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}
/* document styling */

body {
  min-height: 100vh;
  background-color: var(--Green_200_lighter);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: var(--font_family);
}

.btn, input, .checkbox_input, .checkbox_input label {
  cursor: pointer;
}

.form_container {
  background-color: var(--White);
  width: 100%;
  border-radius: 1rem;
  max-width: 600px;
}

h1 {
  font-size: 1.625rem;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--Grey_900_darker);
}

.input_grp {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.input_grp input {
  height: 2.4rem;
  border-radius: .5rem;
  outline: none;
  border: 1px solid var(--Grey_500_medium);
  padding: 1rem;
}

fieldset {
  border: 0;
}

fieldset legend {
  margin-bottom: .5rem;
}

.radio_input {
  border: 1px solid var(--Grey_500_medium);
  padding: 1rem;
  margin-bottom: .5rem;
  border-radius: .5rem;
  display: flex;
  gap: 1rem;
}

.message_container {
  display: flex;
  flex-direction: column;
}

.message_container textarea {
  border-radius: .5rem;
  padding: 1rem;
}

.checkbox_input {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: 350px;
}

.btn {
  background-color: var(--Green_600_medium);
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: var(--White);
  outline: none;
  border: 0;
}

.sucess_state {
  position: absolute;
  top: 10%;
  left: 2%;
  right: 2%;
  background-color: var(--Grey_900_darker);
  color: var(--White);
  padding: 1rem;
  border-radius: .5rem;
}

.top_state {
  display: flex;
  gap: 1rem;
  font-weight: 700;
}

.sucess_state>p {
  font-size: .875rem;
  color: var(--Grey_500_medium);
  margin-top: 1rem;
}

.sucess_state.hidden {
  display: none;
}

.checkbox_input input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.checkbox_container {
  height: 15px;
  width: 15px;
  border: .5px solid var(--Grey_500_medium);
}

.checkbox_input input[type="checkbox"]:checked + .checkbox_container {
  background: url(./images/icon-checkbox-check.svg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .form_container {
    margin-top: 6rem;
  }
  .name_info,
  fieldset {
    display: flex;
    gap: 1rem;
  }
  .input_grp,
  .radio_input {
    width: 100%;
  }
  .sucess_state {
    max-width: 400px;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
  }
}